<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>DIGIT 400 - WG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
</head>
    
<header>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/portfolio.html">Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.youtube.com/channel/UCkjaTmfXHYYyNGeN8l-Kz6Q">YouTube Channel</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about.html">About</a>
  </li>
</ul>

</header>

<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script> 
