{% extends "header.html" %}

{% block body %}  

<div class="gallery">
    <br>
    <h2 class="cover-heading">Penn State AMIC project</h2>
    <br>
    <div class="container">
        <div class="row">
            
            <div class="col">
                <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/RibbonCutting/">
    "Ribbon Cutting" Structure</a>
                <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/Mobius/">
    "Mobius Creek"</a>
            </div>
            
            <div class="col">
                <p align="left">I worked with local (Erie, PA) artist and CEO of Highergherglyphics, Todd Scalise on creating 3D models for multiple structures intended for the new AMIC building at Penn State Behrend. Todd Scalise visualized and designed the two structures located in the main lobby and front entrance on the building.</p>
                <p align="left">I was able to take these designs and translate them into a digital 3D space using Autodesk Software including Maya and Inventor for the models.</p>
            </div>
                
        </div>
    </div>
</div>

{% endblock %}