{% extends "header.html" %}

{% block body %}

<hr class="featurette-divider">
  
    <div class="card text-center">
        <div class="card-header">
        MENU
        </div>
      
        <div class="card-body">
            <h4 class="card-title">Welcome!</h4>
            <p class="card-text">Check out my social media pages and profiles.</p>
            
            <a class="btn btn-outline-warning" href="https://www.instagram.com/Will_Gerould" role="button"><i class="icon-instagram icon-large"></i> Instagram</a>
            <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/williamgerould/" role="button"><i class="icon-linkedin icon-large"></i> LinkedIn</a>
        </div>
        <div class="card-body">
            <a class="btn btn-outline-info" href="https://www.artstation.com/willgerould" role="button"><i class="icon-linkedin icon-large"></i> ArtStation</a>
            <a class="btn btn-outline-primary" href="https://www.linkedin.com/in/williamgerould/" role="button"><i class="icon-linkedin icon-large"></i> LinkedIn</a>
        </div>
        
        <div class="card-footer text-muted">
        Don't forget to log in!
        </div>
    </div>

<hr class="featurette-divider">

{% endblock %}