{% extends "header.html" %}

{% block body %}  


<div class="gallery cf">
  <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/summerResearch/">
        2017 Summer Research</a>
  <div>
    <img src="{{ url_for('static', filename='images/MapWorkFinal2.PNG') }}" href="/summerResearch/">
  </div>
  <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/AMIC/">
        Penn State Behrend - AMIC Sculpture Project</a>
  <div>
    <img src="{{ url_for('static', filename='images/amic.jpg') }}" />
  </div>
</div>



{% endblock %}
 