{% extends "header.html" %}

{% block body %}

<hr class="featurette-divider">    
    
<div class="view overlay hm-black-light">
    <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/summerResearch/">
    Photogrammetry in the Humanities
    </a>
    <p class="lead text-center col-md-8 mx-auto">(2017/2018) Senior Research Project</p>
</div>
    
<hr class="featurette-divider">    

    <div class="container marketing" align="center">       

    </div>
    
<hr class="featurette-divider">
    
    <div class="view overlay hm-black-light">
        <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/AMIC/">
        Penn State Behrend - AMIC Sculpture Project
        </a>
        <p class="lead text-center col-md-8 mx-auto">(2015/2016) Summer Internship collaboration. </p>
    </div>

<hr class="featurette-divider"> 

{% endblock %}
 