{% extends "header.html" %}

{% block body %}

<hr class="featurette-divider">

    <div class="container-fluid">
        <h4>Register</h4>
        <br>
        {% from "formhelpers.html" import render_field %}
        <form method="post" action="/register/">
            <dl>
            {{render_field(form.username)}}
            {{render_field(form.email)}}
            {{render_field(form.password)}}
            {{render_field(form.confirm)}}
            {{render_field(form.accept_tos)}}
                
            <p><input type="submit" value="Register"></p>
                
                
            </dl>
        </form>
    </div>

<hr class="featurette-divider">

{% endblock %}