{% extends "header.html" %}

{% block body %}

<div class="gallery">
    <br>
    <h2 class="cover-heading">Penn State Behrend Senior Research Project</h2>
    <br>
    <div class="container">
        <div class="row">
            
            <div class="col">
                <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/photo/">
        Part 1 - Photogrammetry</a>
    <a class="nav-item nav-link alt-h1 1h-condensed mt-3 mb-2 text-center" href="/game/">
        Part 2 - Game</a>
            </div>
            
            <div class="col">
                <p align="left">Over the summer of 2017 I studied the medium of Photgrammetry. Using DSLR cameras, Agisoft Photoscan and my laptop, I was able to take photos of real world objects and recreate them as 3D models.</p>
                <p align="left">Over the course of my senior year, I took these scans and imported them into a game engine. All of these processes were in hopes to recreate Mead Park in Corry, PA.</p>
                <p align="left">Finally, to compliment my minor in game design, I used this recreation and created a video game in the Unreal Engine that showcased this entire process.</p>
            </div>
                
        </div>
    </div>
</div>
    
{% endblock %}
 